{{- if and .Values.ingress.enabled (eq .Values.service.geventPath "/websocket") -}}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.Version -}}
apiVersion: networking.k8s.io/v1
{{- else -}}
apiVersion: networking.k8s.io/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ include "odoo-doodba.fullname" . }}-websocket
  labels:
{{ include "odoo-doodba.labels" . | indent 4 }}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-http-version: "1.1"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          - path: /websocket
            {{ if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.Version }}
            pathType: Prefix
            {{ end }}
            backend:
            {{ if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.Version }}
              service:
                name: {{ include "odoo-doodba.fullname" $ }}
                port:
                  number: {{ $.Values.service.geventPort }}
            {{ else }}
              serviceName: {{ include "odoo-doodba.fullname" $ }}
              servicePort: {{ $.Values.service.geventPort }}
            {{ end }}
  {{- end }}
{{- end }}
